<mat-toolbar color="primary" class="mat-elevation-z7">

</mat-toolbar>

<form class="formProcura">
  <mat-form-field>
    <input matInput palceholder="Buscar categoria" value="">
  </mat-form-field>
  <br>
  <button mat-button color='secondary' class="mat-elevation-z2">PROCURAR</button>
</form>

<table id="tabela" mat-table matSort [dataSource]="dadosExperimento" class="mat-elevation-z8">

  <ng-container matColumnDef="experimento">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Nome do experimento</th>
    <td mat-cell *matCellDef="let x"><mat-checkbox></mat-checkbox> {{x.nomeExperimento}} </td>
  </ng-container>

  <ng-container matColumnDef="categoria">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Categoria do Experimento</th>
    <td mat-cell *matCellDef="let x"> {{x.categoriaExperimento}} </td>
  </ng-container>

  <ng-container matColumnDef="ativo">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Ativo</th>
    <td mat-cell *matCellDef="let x">
      <mat-slide-toggle color="primary"></mat-slide-toggle>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="colunas"></tr>
  <tr mat-row *matRowDef="let row; columns: colunas;"></tr>
</table>