form{
    width: 45%;
    margin-left: calc(50% - 23%);
    margin-top: 3%;
    mat-form-field{
        width: 100%;
    }
    button{
        margin-left: calc(50% - 56px);
    }
}

#tabela{
    width: 70%!important;
    margin-left: calc(50% - 35%);
    margin-top: calc(50% - 45%);
}